h1 {
    font-size: xx-large;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resultParas {
    text-align: center;

}

.enterGuess {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:cadetblue;

     

}

.guessSubmit {
    text-emphasis: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px;
}



.guesses {
    color: red;
}

.lowOrHi {
    color: skyblue;
}